/* Category.css */

.category-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.categories {
  flex: 1;
}

.categories h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.categories ul {
  list-style-type: none;
  padding: 0;
}

.categories li {
  margin-bottom: 5px;
}

.category-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* .categories button:hover {
  background-color: #45a049;
} */

.category-details {
  flex: 2;
}

.category-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.category-details table {
  width: 100%;
  border-collapse: collapse;
}

.category-details th, .category-details td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.category-details th {
  background-color: #f2f2f2;
}

.category-details tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}


.add-category-button-container {
  position: absolute;
  top: 20px;
  right: 20px;
  
}

.add-category-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-category-form {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  background-color: #f9f9f9;
  width: 300px;
  height: auto;
}

.add-category-form h3 {
  margin-bottom: 12px;
}

.add-category-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.form-buttons button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.categories li {
  margin-bottom: 10px; /* Add space between each category */
}

.categories button {
  margin-right: 10px; /* Add space between delete and category buttons */
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;

}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.form-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-buttons button[type="submit"] {
  background-color: #007bff;
  color: #fff;
}

.form-buttons button[type="button"] {
  background-color: #dc3545;
  color: #fff;

}