/* AddProductForm.css */

.add-product-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }

  .form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text-danger {
  color: #dc3545;
  font-size: 12px;
}

.close-button {
  background-color: #f44336; /* Red color for close button */
  color: white; /* Text color */
  border: none; /* No border */
  padding: 10px 20px; /* Padding */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Cursor style */
  border-radius: 5px; /* Rounded corners */
  width: 100%;
}

.close-button:hover {
  background-color: #d32f2f; /* Darker red color on hover */
}