.order-container {
    overflow: auto;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    margin: 0px auto;
}

table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

thead th {
    border-radius: 25px;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #7dbeff;
    z-index: 1;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #dededec2;
    cursor: pointer;
}

.order-container-title{
    border-radius: 25px;
    padding: 10px;
    color: white;
    background-color: #0070df;
    text-align: center;
    width: 90%;
    font-family: 'Segoe UI';
    font-weight: bold;
    margin: 5px auto;

}
